page-tickets {
    hr {
        margin-bottom: 2em;
    }
    .tickets-header {
        font-size: 1.5em;
    }
    .tickets-progress {
        height: 2em;
        display: table;
        width: 100%;
        .progress-step {
            display: table-cell;
            font-weight: bold;
            height: 1em;
            .progress-step-text {
                border-bottom: 4px solid black;
            }
            .progress-step-text.selected {
                color: green;
                border-color: green;
            }
        }
    }
    .tickets-instructions {
        margin-bottom: 30px;
    }
    .swiper-slide-next {
        .slide-zoom {
            .ticket-showtime {
                height: 156px;
                border: 5px solid rgb(0, 159, 219);
            }
        }
    }
    .slide-zoom {
        height: 210px;
        background-color: rgba(255, 255, 255, 0.3);
        overflow: auto;
        .ticket-showtime {
            border: 1px solid silver;
            position: relative;
            height: 150px;
            width: 160px;
            white-space: normal;
            border-radius: 0.5em;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 8px;
            background-size: 65px;
            margin: auto;
            line-height: 150px;
            font-size: 1.8em;
            span {
                color: rgb(0, 159, 219);
                position: absolute;
                bottom: 5px;
                left: 0;
                right: 0;
                font-size: 0.5em;
                height: initial;
            }
        }
    }
    .scroll-content {
        overflow-y: hidden;
    }
    .slides-wrapper {
        height: 100%;
    }
}