// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.poster-page {
    //    background-image: url("../assets/images/lego_batman.jpg");
    background-position: top;
    background-size: auto 93%;
    background-repeat: no-repeat;
    background-color: black;
}

.menu-page {
    background: transparent;
}

.scroll-content {
    overflow-y: auto;
}

.modal-wrapper {
    height: 460px;
}

ion-modal {
    .toolbar-background {
        background-color: rgb(0, 159, 219) !important;
    }
    .toolbar {
        color: white;
        text-align: center;
        .toolbar-title {
            color: white;
        }
    }
}

.modal-wrapper {
    border-radius: 0.8em !important;
}

.mp-title-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin-left: -0.4em;
    margin-right: 0.3em;
    background-position-y: 0.15em;
    background-repeat: no-repeat;
}

@media (min-width: 1080px) and (min-height: 1920px) {
    html {
        zoom: 1.75;
    }
}